<!DOCTYPE html>
    <head> <title>{{ title }}</title> <link rel="stylesheet" href="static/styles.css"></head>
    <body>
        <h1>Hey Move It!</h1>
        <h2> Current Time Autonomous Systems: {{ time }} </h2>
        <hr>
        <h2> Current Status: Field Devices </h2>
        <table>
            {%for h in onlinedata %}
            <tr> <th>{{h}}</th><td bgcolor="{{onlinedata[h]}}">&nbsp;&nbsp;&nbsp;</td></tr>
            {% endfor %}
        </table>
        <h2>Device Control Panel:</h2>
        <form action="http://192.168.59.11:8080/ctrl1" method="POST">
            <table>
            <tr><td><p> DeviceId </td><td><input type="text" name="DeviceId"</p></td> </tr>
            <tr><td><p> fwd/rev </p></td><td> <input type="radio" name="Direction" value="fwd">Forward</input>
                <input type="radio" name="Direction" value="rev">Reverse</input></p></td></tr>
            <tr><td><p> Operation time</td><td><input type="text" name="Duration"</p></td></tr>
            <tr><td colspan="2"><p> <input type="submit" name="submit"</p> </td> </tr>       
            </table>
        </form>

        <p> &COPY; 4D2 Engineering 2020</p>
    </body>