[Unit]
Description=MQTT Subscriber for Autonomous system
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 -u  /usr/local/scripts/mqttsub.py
StandardOutput=syslog 
StandardError=syslog
SyslogIdentifier=mqttsub_svc
WorkingDirectory=/usr/local/scripts/
User=root
Group=root

[Install]
WantedBy=multi-user.target