[Unit]
Description=Interface Flapper for CTF
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 -u  /usr/local/scripts/intflapper.py
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=intflapper_svc
WorkingDirectory=/usr/local/scripts/
User=root
Group=root

[Install]
WantedBy=multi-user.target
WantedBy=network-online.target